.App {
    .app-bar {
        box-shadow: none;
        display: flex;
        .tool-bar {
            max-width: 1330px;
            margin: 0 auto;
            width: calc(100% - 32px); //default padding is 32px
        }
        .avatar-icon {
            color: black;
            margin-right: 5px;
        }
        &-link {
            text-decoration: none;

        }
        &-dropdown-button.app-bar-button {
            padding-right: 0;
        }
        &-button {
            font-size: 18px;
            color: #c7c3c3;;
            text-transform: capitalize;
        	border-left: 1px solid grey;
            padding: 20px 26px;
        	font-family: Lato;
            min-width: 135px;
            &:hover {
                border-radius: 0;
            }
            &:last-child {
                padding-right: 0px;

            }
            &.selected {
                color: purple;
            }
        }
        &-logo {
            flex: 1;
            a:active {
                color: purple;
            }
            .company-logo {
                height: 40px;
                width: auto;
                fill: purple;
                .cls-1{
                    fill: white;
                }
            }
        }
    }
}
